<!DOCTYPE html>
<html>
<head>
<title>Manage Promotion Rule</title>
</head>
<body>

<H1>Manage Promotion Rule</H1>
<a href="./">Back to Price Calculator</a><br/>

<h2>Add rule</h2>
<form action="addRule" method="post">
<table>
	<tr>
		<td>name : </td><td><input type="text" name="name" id="name"/></td>
		<td>number Customer : </td><td><input type="number" name="numberCustomer" id="numberCustomer" value="1" /></td>
		<td>promotion Code : </td><td><input type="text" name="promotionCode" id="promotionCode"/></td>
		<td>payment Condition : </td><td><input type="number" name="paymentLimit" id="paymentLimit" value="1" /></td>
	</tr>
	
	<tr>
		<td>discount by Group Person : </td><td><input type="checkbox" name="discountGroupFlg" id="discountGroupFlg" /></td>
		<td >discount Group Pay for Person: </td><td><input type="number" name="discountGroup" id="discountGroup" value="1"/> Person</td>
		<td>Ex. number Customer 6 Pay for Person 2</td>
	</tr>
	
	<tr>
		<td>discount by Percent : </td><td><input type="checkbox" name="discountPercentFlg" id="discountPercentFlg" /></td>
		<td>discount Percent : </td><td><input type="number" name="discountPercent" id="discountPercent" value="0"/> % (Calculate by percent)</td>
		<td>discount Payment : </td><td><input type="number" name="discountTotal" id="discountTotal" value="0"/> Baht (Calculate by amount)</td>
	</tr>
	<tr>
		<td colspan="3"><button type="submit">submit</button></td>
	</tr>
</table>
</form>

	<br/><br/>
List of Rules:
<div th:each="r: ${rules}">

	<div>
		<b th:text="${r.id}">ID</b> -<span th:text="${r.name}">Person name </span> <a onclick="return confirm('Are you sure?');" th:text="Delete" th:href="@{|/removeRule?id=${r.id}|}"></a>
	</div>
</div>






</body>
</html>